IndexIgnore *
DirectoryIndex index.php

Deny From 67.43.144.0/20

RewriteEngine On
RewriteOptions Inherit
RewriteCond %{HTTP_HOST} !^www\.greenliff\.ch$ [NC]
RewriteRule ^(.*)$ http://www.greenliff.ch/$1 [L,R=permanent]
