IndexIgnore *
DirectoryIndex index.php

Deny From 67.43.144.0/20
# regular contact form spammers:
Deny From 188.143.232.84/32
Deny From 37.59.49.210/32

Redirect permanent /jbed http://www.greenliff.ch
Redirect permanent /impressum.php http://www.greenliff.ch/imprint.php
Redirect permanent /portfolio/test_automation.php http://www.greenliff.ch/portfolio/test_engineering.php
Redirect permanent /portfolio/financial_application_testing.php http://www.greenliff.ch/portfolio/application_testing.php
Redirect permanent /portfolio/mobile_application_testing.php http://www.greenliff.ch/portfolio/application_testing.php
Redirect permanent /docs/20120131_GE_SoftwareEngineerVM.pdf http://www.greenliff.ch/company/jobs.php
Redirect permanent /company/121120_sign-in.php http://www.greenliff.ch/company/events.php

RedirectMatch permanent ^/trends_in_testing/ http://www.greenliff.ch/company/past_events.php

# Convenience link "http://www.greenliff.ch/events"
Redirect permanent /events http://www.greenliff.ch/company/events.php


RewriteEngine On
RewriteOptions Inherit
RewriteCond %{HTTP_HOST} !^(www\.greenliff\.ch|.+\.hotfeet\.ch)$ [NC]
RewriteRule ^(.*)$ http://www.greenliff.ch/$1 [L,R=permanent]
